<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel='stylesheet' media="screen" href='@routes.Assets.versioned("stylesheets/materialize.css")'>
<script src='@routes.Assets.versioned("javascripts/lib/jquery.min.js")'></script>
<script src='@routes.Assets.versioned("javascripts/lib/materialize.js")'></script>
<script src='@routes.Assets.versioned("javascripts/lib/es6-shim.js")'></script>
<script src='@routes.Assets.versioned("javascripts/lib/angular2-polyfills.js")'></script>
<script src='@routes.Assets.versioned("javascripts/lib/require.js")'></script>
<script src='@routes.Assets.versioned("javascripts/lib/angular2.dev.js")'></script>
<script src='@routes.Assets.versioned("javascripts/lib/system.js")'></script>