<form action="/users/register.html" method="post">
  <div class="row input-field">
    <input id="userName" type="text" class="validate"/>
    <label for="userName"> Login </label>
  </div>
  <div class="row input-field">
    <input id="email" type="text" />
    <label for="email"> Email </label>
  </div>
  <div class="row input-field">
    <input id="password" type="password" />
    <label for="password"> Password </label>
  </div>
  <div class="row input-field">
    <input id="password_confir" type="password" />
    <label for="password_confir"> Password Confirmation </label>
  </div>
  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
</form>
