<form
	ngNoForm [ngFormModel]="registrationForm"
	action="/users/registration.html"
	onsubmit="this.submit()"
	method="post">

	<div class="row input-field">
		<input
			name="userName"
			type="text"
			#login="ngForm"
			[ngFormControl]="registrationForm.controls['login']"
			[class.invalid]="(!login.valid && login.touched) || false"
		/>
		<label for="userName"
			[attr.data-error]="loginValidationErrors()">
			Login*
		</label>
	</div>

	<div class="row input-field">
		<input
			name="email"
			type="text"
			#email="ngForm"
			[ngFormControl]="registrationForm.controls['email']"
			[class.invalid]="(!email.valid && email.touched) || false"
		/>
		<label
			for="email"
			[attr.data-error]="emailValidationErrors()"
		>
			Email*
		</label>
	</div>

	<div class="row input-field">
		<input
			name="password"
			type="password"
			#password="ngForm"
			[ngFormControl]="registrationForm.controls['password']"
			[class.invalid]="(!password.valid && password.touched) || false"
		/>
		<label
			for="password"
			[attr.data-error]="passwordValidationErrors()"
		>
			Password*
		</label>
	</div>

	<div class="row input-field">
		<input
			name="password_confirm"
			type="password"
			#passConfirm="ngForm"
			[ngFormControl]="registrationForm.controls['passwordConfirm']"
			[class.invalid] = "(!passConfirm.valid && passConfirm.touched) || false"
		/>
		<label
			for="password_confirm"
			[attr.data-error]="passwordConfirmationValidationErrors()"
		>
			Password Confirmation*
		</label>
	</div>

	<button [disabled]="!registrationForm.valid" class="btn waves-effect waves-light" type="submit">Submit
		<i class="material-icons right">send</i>
	</button>

</form>
