@import custom.utils.validation.ValidationUtils._

@(error: List[ValidationError] = List(ValidationError("userName", "wtf test invalid name")))(implicit messages: Messages, lang: play.api.i18n.Lang)

@main("Materialize Page"){
	<link rel='stylesheet' media="screen" href='@routes.Assets.versioned("stylesheets/users/registration.css")'>
} {
	<div class="section no-pad-bot" id="index-banner">
		<div class="container">
			<div class="row">
				<div class="col s6 offset-s3">
					@angular2.bootstrap("bootRegistration")
					<registration-form validation-errors='@Json.toJson(error)'>Loading...</registration-form>
				</div>
				<div class="col s3">
				</div>
			</div>
		</div>
	</div>
}